<a href="/" class="back">
    <svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g data-name="Layer 2"> <g data-name="arrow-ios-back"> <rect width="5" height="5" transform="rotate(90 12 12)" opacity="0"></rect> <path d="M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64z"></path> </g> </g> </g></svg>
</a>

<div class="wrapper">
    <div class="description">
        <h1>Lets work together</h1>
        <p>This is a template Figma file, turned into code using Anima. Learn more at AnimaApp.com This is a template Figma file, turned into code using Anima. Learn more at AnimaApp.com</p>
        <div class="icons">iconos</div>
    </div>

    <form class="form">
        <input class="input" type="text" placeholder="Name">
        <input class="input" type="email" placeholder="Email">
        <textarea class="input textarea" placeholder="Message"></textarea>
        <button class="btn" type="submit">Enviar</button>
    </form>
</div>

<style>

    .back svg{
        position: absolute;
        width: 2rem;
        height: 2rem;
    }

    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 98vh;
    }

    .description{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 25rem;
        gap: 1rem;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;    
        gap: 1rem;
        width: 40%;
    }

    .input{
        border: none;
        padding: 1rem;
        background-color: #f3f3f3;
        width: 70%;
    }

    .textarea{
        height: 10rem;
        min-height: 10rem;
        min-width: 70%;
        max-width: max-content;
        max-height: 20rem;
    }

    .btn{
        border: none;
        padding: 1rem;
        background-color: #f3f3f3;
        width: 30%;
        cursor: pointer;
    }

</style>