---
import Layout from '../layouts/Layout.astro';
import Brands from '../components/brands.astro';
---

<Layout> 
	<div class="wrapper">
		
		<div class="description">
			<div class="description_text">
				<h3>Branding | Image making</h3>
				<h1>My awesome portfolio</h1>
				<p>And I made it myself! Yes. In Figma with Anima</p>
			</div>
			<img src="/public/circlesmain.webp" alt="circles">
		</div>
	</div>
	
	<div class="brands">
		<hr>
		<Brands></Brands> 
		<hr>
	</div>
	
</Layout>

<style>

	.brands{
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 0 5rem;
	}

	.wrapper{
		display: flex;
		flex-direction: column;
		gap: 10rem;
	}

	.description{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30rem;
		width: 100%;
		padding: 2rem 0;
	}

	.description img{
		height: 30rem;
		width: 30rem;
		object-fit: contain;
	}

	.description_text{
		display: flex;
		flex-direction: column;
		font-weight: normal;
		width: 50%;
		gap: 2rem;
	}

	.description_text h1{
		font-size: 6rem;
	}
	
</style>