<ul class="brands">
    <li>
      <img src="/svg/Behance.svg" alt="Behance Logo" />
    </li>
  <li>
      <li>
        <img src="/svg/Google.svg" alt="Google Logo" />
      </li>
    <img src="/svg/Apple.svg" alt="Apple Logo" />
  </li>
  <li>
    <img src="/svg/Dribbble.svg" alt="Dribbble Logo" />
  </li>
  <li>
    <img src="/svg/Awwwards.svg" alt="Awwwards Logo" />
  </li>
</ul>

<style>
    .brands{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>